	{{ partial "head.html" . }}
	<body>
    {{ partial "nav.html" . }}

    {{ partial "profile.html" . }}

    <section id="wrapper" class="home">
        {{ partial "post-list.html"  . }}
        {{ partial "pagination.html" . }}
        {{ partial "footer.html"     . }}
    </section>

    {{ partial "js.html" . }}
    </body>

    <script>
        var _hmt = _hmt || [];
        (function() {
        var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?74fafdde017951e1df78c761e7c017bc";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</html>
